// ========================================
//
// @file _base.scss
// Base level tags and styles
//
// ========================================

::selection {
  background: lighten($color-black, 10%);
  color: $color-white;
}

::-moz-selection {
  background: lighten($color-black, 10%);
  color: $color-white;
}

html {
  box-sizing: border-box;
}

body {
  background: $color-white;
  font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  font-size: $base-font-size;
	font-weight: 300;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  display: block;
  height: auto;
  margin: 0;
  max-width: 100%;
  transition: 0.4s;
}

ul{
  list-style-type: none;
  margin: 0;
}

nav.tabs {
	background: #fff;
}

/**
* CKEDITOR custom styles
*/
.border-left {
	border-left: 1px solid #000;
  padding-left: 15px;
  font-weight: 300;

	&.large {
		@include rem('font-size', 36px);
  }
  &.small {
  	padding-top: 10px;
		@include rem('font-size', 16px);
  }
  .top-margin {
  	margin-top: 2em;
  }
  @include max($screen-xs-max) {
  	display: none;
  }
}

img.top-margin {
	margin-top: 4em;	
	@include max($screen-xs-max) {
		margin-top: 1em;	
	}
}

.region-content a {
  color: $color-black;
  &:hover {
    color: $color-yellow;
  }
}