// ========================================
//
// @file _extends.scss
// File containing all Sass extendables
//
// ========================================

.overlay-layout {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
}

.dark-overlay {
	&:before {
		@extend .overlay-layout;
	  background: rgba(0,0,0,0.5);	
	}
}
