// ========================================
//
// @file _layout.scss
// Basic page layouts, widths, margins, paddings
//
// ========================================

////////////////////////
// BREAK POINTS
////////////////////////

// Extra extra small screen / phone

$xxs: 0;
$cnt-xxs: 100%;
// Extra small screen / phone
$xs: 380px;
$cnt-xs: 100%;
// Small screen / phone
$sm: 544px;
$cnt-sm: 100%;
// Medium screen / tablet
$md: 768px;
$cnt-md: 750px;
// Medium screen-800 / tablet
$md-800: 800px;
// Large screen / desktop
$lg: 992px;
$cnt-lg: 950px;
// Extra large screen / wide desktop
$xl: 1360px;
$cnt-xl: 1300px;
// Extra extra large screen / 27" desktop
$xxl: 1800px;
$cnt-xxl: 1600px;

$xxxl: 2300px;

////////////////////////
// MEDIA - up
////////////////////////

@mixin media-breakpoint-up($media) {
  @if $media == xxs {
    @media only screen and (min-width: $xxs) { @content; }
  }
  @else if $media == xs {
    @media only screen and (min-width: $xs) { @content; }
  }
  @else if $media == sm {
    @media only screen and (min-width: $sm) { @content; }
  }
  @else if $media == md {
    @media only screen and (min-width: $md) { @content; }
  }
  @else if $media == md-800 {
    @media only screen and (min-width: $md-800) { @content; }
  }
  @else if $media == lg {
    @media only screen and (min-width: $lg) { @content; }
  }
  @else if $media == xl {
    @media only screen and (min-width: $xl) { @content; }
  }
  @else if $media == xxl {
    @media only screen and (min-width: $xxl) { @content; }
  }
  @else if $media == xxxl {
    @media only screen and (min-width: $xxxl) { @content; }
  }
}
// USAGE
//@include media-breakpoint-up(xs) { ... }
//@include media-breakpoint-up(sm) { ... }
//@include media-breakpoint-up(md) { ... }
//@include media-breakpoint-up(lg) { ... }
//@include media-breakpoint-up(xl) { ... }
//@include media-breakpoint-up(xxl) { ... }
////////////////////////


.full-width {
  width: 100%;
}

.container {
  margin: 0 auto;
  padding-right: $mobile-grid-gutter-width;
  padding-left: $mobile-grid-gutter-width;

  @include media-breakpoint-up(xxs){  width: $cnt-xxs;}
  @include media-breakpoint-up(xs){   width: $cnt-xs; }
  @include media-breakpoint-up(sm){   width: $cnt-sm; }
  @include media-breakpoint-up(md){   width: $cnt-md; padding-right: $grid-gutter-width;  padding-left: $grid-gutter-width;}
  @include media-breakpoint-up(lg){   width: $cnt-lg; }
  @include media-breakpoint-up(xl){   width: $cnt-xl; }
  //@include media-breakpoint-up(xxl){  width: $cnt-xxl;}
}

.container_small {
  margin: 0 auto;
  padding-right: $mobile-grid-gutter-width;
  padding-left: $mobile-grid-gutter-width;

  @include media-breakpoint-up(xxs) {
    width: $cnt-xxs;
  }
  @include media-breakpoint-up(xs) {
    width: $cnt-xs;
  }
  @include media-breakpoint-up(sm) {
    width: $cnt-sm;
  }
  @include media-breakpoint-up(md) {
    width: $cnt-md;
    padding-right: $grid-gutter-width;
    padding-left: $grid-gutter-width;
  }
  //@include media-breakpoint-up(lg){   width: $cnt-lg; }
  //@include media-breakpoint-up(xl){   width: $cnt-xl; }
  //@include media-breakpoint-up(xxl){  width: $cnt-xxl;}
}
