// ========================================
//
// @file _settings.scss
// Fonts, colors, breakpoints and other various variables
//
// ========================================

// - - - - - - - - - - - - - - - - - - - -
// Base font size
// - - - - - - - - - - - - - - - - - - - -
$base-font-size: 18px;

// - - - - - - - - - - - - - - - - - - - -
// Colors
// - - - - - - - - - - - - - - - - - - - -
$color-white: white;
$color-black: black;
$color-bg-dark: rgb(50,50,50); // footer, sidebar menu background
$color-bg-light: #E6E6E6;
$color-yellow: #ffeb1a; // rgb(255,240,16);
$color-yellow-light: rgb(255,249,199);
$color-green: rgb(136,181,113);
$color-green-hover: #6aa34e;
$color-grey-light: #a5a5a5; // Used for menu close button

// - - - - - - - - - - - - - - - - - - - -
// Fonts
// - - - - - - - - - - - - - - - - - - - -
$font-open-sans: 'Open Sans', sans-serif;

// - - - - - - - - - - - - - - - - - - - -
// Grid
// - - - - - - - - - - - - - - - - - - - -
$screen-xs: 420px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$screen-xs-min: rem($screen-xs);
$screen-sm-min: rem($screen-sm);
$screen-md-min: rem($screen-md);
$screen-lg-min: rem($screen-lg);

$screen-xs-max: rem(($screen-sm - 1));
$screen-sm-max: rem(($screen-md - 1));
$screen-md-max: rem(($screen-lg - 1));
$screen-lg-max: rem($screen-lg);

$grid-columns: 12;
$grid-gutter: 30px;
$grid-gutter-width: rem(($grid-gutter / 2));

$container-xs: rem(($screen-xs + $grid-gutter));
$container-sm: rem(($screen-sm + $grid-gutter));
$container-md: rem(($screen-md + $grid-gutter));
$container-lg: rem(($screen-lg + $grid-gutter));


// - - - - - - - - - - - - - - - - - - - -
// Grid gutters
// - - - - - - - - - - - - - - - - - - - -
//padding-height
$ph-mobile: 40px;
$ph-mobile-half: $ph-mobile/2;
$ph: 80px;
$ph-half: $ph/2;

//padding-width
$pw-mobile: 30px;
$pw-mobile-half: $pw-mobile/2;
$pw: 60px;
$pw-half: $pw/2;

$grid-columns: 12;
$mobile-grid-gutter: 30px;
$mobile-grid-gutter-width: $mobile-grid-gutter / 2;
$grid-gutter: 30px;
$grid-gutter-width: $grid-gutter / 2;

//-------------------------------
// Other variables
//-------------------------------
$border-radius: 5px;
$sidebar-width: 450px;
