// ========================================
//
// @file _typography.scss
// Base level typography, fonts, colors, sizes
//
// ========================================
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800&subset=latin-ext';

p {
	// @include rem('font-size', 18px);
	font-weight: 300;

	&:last-child {
	  margin-bottom: 0;
	}
}

main a {
	// @include rem('font-size', 18px);
	font-weight: 300;
  transition: 0.4s;
}

h1,
h2,
h3,
h4,
h5,
h6 {

  a {
    color: inherit;

    &:hover {
    }
  }
}

h1 {
  @include rem('font-size', 110px);
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 30px;

  @include max($screen-xs-max) {
  	@include rem('font-size', 52px);
  }
}

h2 {
	font-weight: 800;
  @include rem('font-size', 36px);
  margin-top: 0;
}

h3 {
  @include rem('font-size', 24px);
}

h4 {
  @include rem('font-size', 20px);
}

h5 {
  @include rem('font-size', 18px);
}

h6 {
  @include rem('font-size', 16px);
}

ul {

  li {
  }

  &:last-child {
    margin-bottom: 0;
  }
}

ol {

  li {
  }

  &:last-child {
    margin-bottom: 0;
  }
}

a{
  color: $color-yellow;
  text-decoration: none;
  &:hover{
    color: $color-white;
    text-decoration: none;
  }
}