// ========================================
//
// @file _landing.scss
// Landing page specific styling
//
// ========================================

.front {

}

.layout-content {
	position: relative;
	z-index: 10;
	transition: 0.3s all;
}

body.sidebar-open .layout-content {
	transform: translateX(-$sidebar-width);
}

p.read-more {
	font-weight: bold;
	cursor: pointer;	
	@include max($screen-xs-max) {
		margin-bottom: 0;
	}
}
div.read-more-content {
	display: none;
}

.contact-data {
	span {
		width: 60px;
    display: inline-block;
	}
}

.path-user {
	header.header {
		display: none;
	}

	.region-content {
		@extend .container;
	}
}