// ========================================
//
// @file _buttons.scss
// Form buttons, call to action buttons
//
// ========================================
.link-btn {
  border-radius: $border-radius;
  padding: 8px;
  border: 1px solid #000;
  display: inline-block;
  text-transform: uppercase;
  margin: 7px 0;
  min-width: 350px;
	max-width: 100%;
	transition: 0.3s all;

	@include max($screen-xs-max) {
		min-width: 220px;
	}

  
  &.dark {
    color: #fff;
    background: $color-bg-dark;

    &:hover {
			color: $color-yellow;
    }
  }

  &.light {
    color: #000;
    background: transparent;

    &:hover {
			background-color: rgba(0,0,0,0.2);
			color: #000;
    }
  }

  i {
  	margin-right: 3px;
  }
  
  &.banner {
  	@include rem('font-size', 20px)
    background: rgba(255,255,255,0.2);
    border: 1px solid #fff;
    color: #fff;
    font-weight: normal;
    min-width: 270px;

    @include max($screen-xs-max) {
    	min-width: 220px;
    }
  }
}
/**
*  Submit button
*/
input[type=submit] {
	@extend .link-btn;
	@extend .light;
	background: transparent;
	text-align: left;
	padding: 12px 30px;
  font-weight: 300;
}

// Close button
.close-menu,
.close-btn {
	position: absolute;
	top: 50px;
	right: 30px;
  height: 50px;
  width: 40px;
  cursor: pointer;

	.line {
		width: 35px;
		height: 2px;
		background: $color-grey-light;
		position: relative;
		display: block;
	}
	.line:first-child {
		transform: rotate(55deg);
    top: 25px;
	}
	.line:nth-child(2) {
		transform: rotate(-55deg);	
    top: 22px;
	}
}