// ========================================
//
// @file _footer.scss
// Footer element on the page
//
// ========================================

.footer{
  background: $color-bg-dark;
  text-transform: uppercase;
  color: #fff;

  p {
  	margin-top: 0;
  	line-height: normal;
  }
  a, p {
  	@include rem('font-size', 16px);	
  	font-weight: normal;
  }
}

.footer-nav {
  padding: $ph-half 0 $ph-half/2;

  @include media-breakpoint-up(md) {
    padding: $ph 0;
  }

  > .container > .row {
    display: block;

    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .block > h2 {
    font-size: 1.8rem;
  }

  i {

  }
}

.region-footer-first,
.region-footer-second,
.region-footer-third,
.region-footer-fourth {
  text-align: left;
  height: 100%;
  margin-bottom: 50px;

  @include media-breakpoint-up(md) {
    line-height: 1.4em;
    margin-bottom: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  ul.menu {
  	display: inline-block;
  }

  .view-content {
    ul {
      margin: 0;
      padding: 0;
      li {
        margin: 0 0 0.5em 0;
        padding: 0;
      }
    }
  }
}

.region-footer-3 {
  li {
    list-style: none;
  }
}
.region-footer-fourth {
	@include max($screen-xs-max) {
		margin-bottom: 0;
	}
}
.menu--social-links{
  ul {
    margin: 0;
    padding: 0;
    li {
      width: 30px;
      float: left;
      text-align: left;
      a{
        visibility: hidden;
      }
      a:before {
      	@extend .fa;
      	font-size: 30px;
      	padding-right: 5px;
        visibility: visible;
      }
      a.facebook {
        &:before {
          @extend .fa-facebook-square;
        }
      }
      a.twitter {
        &:before {
          @extend .fa-twitter-square;
        }
      }
      a.linkedin {
        &:before {
          @extend .fa-linkedin-square;
        }
      }
      a.instagram {
        &:before {
          @extend .fa-instagram;
        }
      }
    }
    li:not(:last-child){
      margin-right:15px;
    }
  }

  @include max($screen-md-max) {
  	ul {
  		float: right;
  	}
  	ul li:not(:last-child){
      margin-right: 10px;
    }
  }
  @include max($screen-xs-max) {
  	ul {
  		float: none;
  	}
  }
}

.menu--app-contact-links{
  ul li{
  	a.phone,
  	a.mobile {
  		&:before {
  			@extend .fa;
  			padding-right: 5px;
        font-size: 20px;
        position: relative;
    		top: 2px;
  		}
  	}
    a.phone {
      &:before {        
        @extend .fa-phone;
      }
    }
    a.mobile {
      &:before {
        @extend .fa-mobile;
      }
    }
  }
}

.region-footer-second .menu--app-contact-links {
	li:first-child {
		padding-top:15px;
		margin-top:15px;
		border-top:1px dashed $color-yellow;	
	}
	
}