// ========================================
//
// @file _forms.scss
// Inputs and other various form elements
//
// ========================================

label {
  display: block;
  font-weight: 300;
  margin-bottom: 5px;
}

input[type=text],
input[type=email],
input[type=password],
input[type=tel],
textarea {
	border-radius: $border-radius;
	border: 1px solid #000;
	background: transparent;
	padding: 8px 12px;
	width: 100%;
	
  &:focus {

  }
}

fieldset.form-composite legend {
	font-weight: 300;
	margin-bottom: 10px;
  display: block;
}

.form-radios {
	@include clearfix;

	.form-item {
    display: inline;
    margin-right: 50px;

    label {
  		font-weight: 300;
  		position: relative;
    }

    @include max($screen-xs-max) {
			margin-right: 20px;    	
    }

    @media screen and (max-width: 380px) {
    	display: block;
    }
	}
}

input[type=radio] {
	opacity: 0;
	visibility: hidden;
}
input[type=radio] ~ label {
	cursor: pointer;
	padding-left: 7px;

	&:before {
		content: '';
		position: absolute;
		height: 18px;
		width: 18px;
		background: transparent;
		border-radius: $border-radius;
		border: 1px solid #000;
		left: -20px;
    top: 2px;
	}
}
input[type=radio]:checked ~ label {
	&:before {
		background: $color-yellow;
	}
}

input.error-required {
	background: $color-yellow-light;
}

.contact-form {
	padding-right: 100px;
	@media screen and (max-width: $screen-xs-max) {
		padding-right: 0px;
	}
}

/**
*  Icon in submit button
*/
.contact-message-form .form-actions {
	position: relative;

	&:before {
		@extend .fa;
    @extend .fa-check-circle;
    position: absolute;
    top: 24px;
    left: 7px;
	}
}
.contact-message-login-form.contact-message-form .form-actions {
	
	&:before {
    @extend .fa-sign-out;
	}
}


/**
*	Form error popup
*/
.contact-form {
	position: relative;
}

.contact-form.error-popup-active {
	pointer-events: none;
	.form-error-popup {
		display: block;
	}
}
.form-error-popup {
	pointer-events: all !important;
  background: $color-bg-dark;
  border-radius: $border-radius;
  color: $color-yellow;
  padding: 40px 60px;
  transform: translateX(calc(-50% - 50px));
  text-align: center;
  display: none;
  max-width: 340px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;


	p {
		margin: 0;
		font-weight: 300;
	}
  .close-btn {
  	position: absolute;
  	right: 5px;
  	top: 5px;
  	.line {
  		background: $color-yellow;	
  	}
  }
  .title {
  	@include rem('font-size', 30px);
  	font-weight: 800;
  	text-transform: uppercase;
  	margin-bottom: 0.5em;

  	.fa {
  		margin-right: 5px;
  	}
  }

}

.form-item input.error-input, 
.form-item textarea.error-input, 
.form-item select.error-input,
.form-radio.error-input ~ label:before {
	background: $color-yellow-light;
}

.message-success {
	border-radius: 5px;
	background: $color-bg-dark;
	padding: 10px;
	color: $color-yellow;
	margin-right: 100px;

	@include max($screen-xs-max) {
		margin-right: 0px;		
	}

	h3 {
		margin: 0;
	}
	i {
    margin-right: 5px;
	}
	p {
		margin-top: 8px;
	}
}

.form-actions {
	@include max($screen-xs-max) {
		margin-bottom: 0;
	}
}