// ========================================
//
// @file _header.scss
// Header element on the page
//
// ========================================

.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	transition: 0.3s all;
	
	@media screen and (max-width: $screen-xs-max) {
		&.sticky {
			top: -60px;
			position: fixed;
		}
		&.sticky-open {
			top: 0px;
			position: fixed;
			z-index: 100;
		}
		&.sticky-open.sticky {
			background: rgba(0,0,0,0.5);
		}		
	}

	> .container {
		position: relative;
	}
	.menu-btn {
		position: relative;
		float: right;
		right: $grid-gutter / 2;
		top: 0px;
		font-size: 40px;
		cursor: pointer;
		opacity: 1;
		visibility: visible;
	}
	i.fa-bars {
    color: #fff;
    z-index: 15;
    position: relative;
	}
	
	.page-logo {
		position: absolute;
    top: 10px;
    left: $grid-gutter / 2;
    z-index: 15;
    width: 50px;
		transition: 0.3s all;
	}

	@include media-breakpoint-up(md) {
		.page-logo {
			width: 130px;
			top: 30px;
		}
		.menu-btn {
			top: 30px;
		}
	}

}

.sidebar-open {
	.menu-btn {
		opacity: 0;
		visibility: hidden;
	}

	.page-logo {
		transform: translateX(-$sidebar-width);
	}	
}
