.paragraph-padding {
	padding: 40px 0 80px;	

	@include max($screen-xs-max) {
		padding: 40px 0 40px;			
	}
}

.paragraph-title {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-bottom: 60px;

  &:before {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 0.73em;
    border-top: 1px solid $color-bg-dark;
  }
  span {
    @include rem('font-size', 22px);
    position: relative;
    color: $color-bg-dark;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 20px;
  }
  @include max($screen-xs-max) {
		margin-bottom: 15px;	
		margin-top: 0;
	}
}

@media screen and (min-width: 679px)  {
	.push-right {
		float: right !important;
	}
}
.field--name-field-paragraph-image {
	@include max($screen-xs-max) {
		img {
	    max-width: 70%;
	    display: block;
	    margin: 0 auto;
	    margin-bottom: 30px;
		}
	}
}

.field--name-field-interesting-block-title {
  text-align: center;
  font-weight: bold;
}

/**
* paragraph field content
*/
.field--name-field-paragraph-content {
	margin-bottom: 30px;	
	@include max($screen-xs-max) {
		margin-bottom: 0;
	}

	ul {
		padding: 0;

		li {
			position: relative;
	    padding-left: 20px;

			&:before {
				@extend .fa;
				@extend .fa-plus-circle;
		    position: absolute;
    		left: 0;
    		top: 4px;
			}
		}
	}
}
.paragraph--type--form-paragraph,
.paragraph--type--content-links-image-right {
	.field--name-field-paragraph-content {
		padding-right: 100px;	

		@media screen and (max-width: $screen-sm-max) {
			padding-right: 15px;				
		}
		@media screen and (max-width: $screen-xs-max) {
			padding-right: 0px;				
		}
	}	
}

/**
* Banner paragraph
*/
.paragraph--type--banner {
	@extend .dark-overlay;
  position: relative;
  background-size: cover;

  &.big-banner {
    height: 100vh;    
    min-height: 550px;

    @include max($screen-xs-max) {
    	min-height: auto;
    }
  }
  &.small-banner {
    height: 40vh;
   	min-height: 300px;
   	background-position: center; 

    .banner-content {
    	display: none;
    }
  }

  .banner-content {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    
    @include max($screen-xs-max) {
	    top: auto;
	    bottom: 100px;
	    transform: none;
    }
  }

  .field--name-field-banner-text {
    color: #fff;
    text-transform: uppercase;
    font-size: 6rem;
    display: block;
  }
  .fa-long-arrow-down {
    font-size: 50px;
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);

    @include max($screen-xs-max) {
    	bottom: 25px;
    }
  }
}


/**
*	Two columns block
*/
.paragraph--type--two-columns-block {
	
	.field--name-field-interesting-blocks > .field__item {
		@extend .col-sm-6;

		@include max($screen-xs-max) {
			.field--name-field-paragraph-content {
				margin-bottom: 15px;
			}
			&:last-child > div {
				margin-bottom: 0;
			}
		}
	}

}

/**
* Interested blocks paragraph
*/
.paragraph--type--interesting-block {
	text-align: center;
	padding: 0 10px;
	
	.field--name-field-interesting-block-title {
		@include rem('font-size', 30px);
		text-transform: uppercase;
		margin-bottom: 30px;
	}
	.paragraph--type--links-with-icons {
		.link-btn {
	    min-width: 270px;
		}
	}
	img {
		max-width: 250px;
		display: block;
		margin: 0 auto;
	}
	.icon i {
		@include rem('font-size', 96px);
	}

	@media screen and (max-width: $screen-xs-max) {
		margin-bottom: 30px;

		&:last-child {

		}
	}
}

/**
*	Offer wrapper
*/
.paragraph--type--offer-wrapper {
	@extend .container;
	margin-bottom: 60px;

	// Block items wrapper
	.field--name-field-offer-block {
		@extend .row;
    display: flex;
    flex-wrap: wrap;

		> .field__item {
			@extend .col-md-4;
			@extend .col-sm-6;
			
			> div {
				padding: 15px 25px;
				border: 1px solid $color-bg-dark;
				border-radius: $border-radius;
				text-align: center;
				margin-bottom: 30px;
				cursor: pointer;
				color: $color-bg-dark;
				transition: 0.3s all;

				.link-btn {
					width: 100%;
    			min-width: auto;
				}
				&:hover {
					box-shadow: 0 0 5px 2px rgba(0,0,0,0.3);
				}
				&.active {
					color: white;
					box-shadow: none;

					.field--name-field-paragraph-links,
					.full-content {
						display: block;
					}
					.trimmed-content {
						display: none;
					}	
					.link-btn {
						color: #fff;
						border-color: #fff;
					}					
				}

				&.active.dark {
					background: $color-bg-dark;
				}
				&.active.green {
					background: $color-green;
					border-color: $color-green;
				}
			}
			
			h2 {
				margin-bottom: 10px;
				text-transform: uppercase;
			}
			.field--name-field-offer-content {
				margin-bottom: 30px;

				.full-content {
					display: none;
				}
			}
			.icon .fa {
				@include rem('font-size', 45px);
				margin-bottom: 15px;
			}

			.field--name-field-paragraph-links {
				display: none;
			}
		}		
	}
}

/**
*	Angebote page
*/
.paragraph--type--offer-block-item {
	.link-btn.light {
		i,span {
			transition: 0.3s all;
		}
	} 
	&.green .link-btn.light:hover {
		background: #fff;

		i, span {
			color: $color-green-hover;
		}
	}

	&.dark .link-btn.light:hover {
		background: transparent;
		i, span {
			color: $color-yellow;
		}
	}
}

/**
*	Referenced paragraph
*/
.paragraph--type--reference-paragraph {
	h3 {
		margin: 15px 0;
		text-transform: uppercase;
	}
	.paragraph--type--reference {
		margin-bottom: 30px;
	}
}

/**
*	Paragraphs maps
*/
.paragraph--type--map {
	@include max($screen-xs-max) {
		pointer-events: none;
	}
}
