.sidebar-wrapper {
	width: $sidebar-width;
	background: $color-bg-dark;
  height: 100%;
  position: fixed;
  right: 0;
  z-index: 200;
  padding-top: 100px;
  padding-left: 90px;
  padding-right: 75px;
  padding-bottom: 75px;
  bottom: 0;
  overflow-x: hidden;
  color: #fff;
  line-height: 1.4em;
  transform: translateX($sidebar-width);
  transition: 0.3s all;

  ul.menu {
  	margin-left: 0;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #d9d9d9;

  	a {
      line-height: 1.7em;
      text-transform: uppercase;
      font-weight: normal;
  	}
  }

  p {
  	line-height: normal;
  	font-weight: normal;
  }

  .menu--social-links {
  	ul.menu {
  		border-bottom: 0;
	    margin-top: 3em;
  	}
  }

	@media screen and (max-width: $screen-xs-max){
    padding: 50px 30px;

    .close-menu {
    	top: 10px;
    	right: 15px;
    }
	}
}

// Active links in menus
ul.menu {
	a.is-active {
		font-weight: 800;
	}
}

.sidebar-open .sidebar-wrapper {
	transform: translateX(0);

	@media screen and (max-width: 500px){
		left: 0;
    width: auto;
    z-index: 150;
	}
}

.toolbar-tray-open {
	.sidebar-wrapper {
		top: 40px;
	}	
	header.header {
		top: 100px;
	}		

	.toolbar-horizontal {
		.sidebar-wrapper {
			top: 80px;
		}
	}	

	&.toolbar-vertical {
		header.header {
			top: 60px;
		}		
	}
}


[id^=block-companydata],
#block-companydata {
	a {
		color: #fff;
		font-weight: normal;

		&:hover {
			color: $color-yellow;
		}
	}
}